/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.list-view .cell {
    -fx-font: 14px "Serif";
    -fx-padding: 10;
}

.anchor_pane {
    -fx-background-color: #FFFF00;
}
